<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring profile区分 -->
    <springProfile name="dev,staging,prod">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdcKeyName>requestId</includeMdcKeyName>
                <fieldNames>
                    <timestamp>timestamp</timestamp>
                    <level>level</level>
                    <logger>logger</logger>
                    <message>message</message>
                    <thread>thread</thread>
                </fieldNames>
            </encoder>
        </appender>
        <root level="${LOG_LEVEL:-info}">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>
</configuration>